/* pre-loader */
body {
    background: #f2f2f2;
    font-family: 'Didot', serif;
    margin: 0;
    padding: 0;
    overflow: hidden;

    /* color variables */
    --primary-color: #e3d4c9;
    --secondary-color: #967d53;
    --terciary-color: #c09f70;
}

.preloader {
    background-color: rgba(51, 51, 51, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    color: white;
    font-size: larger;
}

.preloader-animated {
    animation-name: disappear;
    animation-duration: 0s;
    animation-delay: 2.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.ticket {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
    max-width: 950px;
    margin: 10px auto;
    color: var(--terciary-color);

    .stub .check {
        box-sizing: border-box;
    }
}

.check {
    background: var(--primary-color);
    height: 20vh;
    min-height: 250px;
    width: 50vw;
    max-width: 750px;
    min-width: 500px;
    padding: 20px;
    position: relative;
}

.title {
    margin: 0;
    padding: 0;
    font-size: x-large;
    /* font-size: min(calc(10px + 1vw), x-large); */
    position: absolute;
    top: 5%;
    right: 5%;
    text-shadow: var(--secondary-color) 1px 1px 2px;
}

.separator {
    width: 70%;
    border: 0;
    height: 3px;
    background: var(--terciary-color);
    position: absolute;
    top: 33%;
    right: 5%;
}

.subtitle {
    margin: 5% 0 0 0;
    padding: 0;
    font-size: 1.2em;
    font-style: bold;
    position: absolute;
    top: 30%;
    right: 5%;
    text-align: right;

    h3 {
        margin: 0;
    }
}

.info {
    font-size: medium;
    position: absolute;
    bottom: 5%;
    font-size: 1em;

    p {
        margin: 0;
    }
}

.extra-info {
    font-size: 1em;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
    position: absolute;
    bottom: 5%;
    right: 5%;
    padding-left: 10px;
    padding-right: 10px;

    p {
        margin-left: 0.4em;
        margin-right: 0.4em;
    }
}

.stub {
    background: var(--secondary-color);
    height: 20vh;
    min-height: 250px;
    width: 20vw;
    max-width: 250px;
    min-width: 250px;
    color: var(--primary-color);
    padding: 20px;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    border-left: .18em dashed var(--primary-color);
}

.stub-animated {
    animation-name: rip;
    animation-duration: 2s;
    animation-delay: 0.5s;
    animation-timing-function: ease-in-out;
}

.stub-text {
    position: absolute;
    top: 10%;
}

.barcode {
    position: absolute;
    bottom: 20%;
    width: 60%;
    height: 20%;
    background: repeating-linear-gradient(to right,
            var(--primary-color),
            var(--primary-color) 2%,
            var(--secondary-color) 2%,
            var(--secondary-color) 6%);
}

.stub-number {
    position: absolute;
    bottom: 5%;
    font-size: 0.8em;
}

/* animations */
@keyframes disappear {
    100% {
        opacity: 0;
        display: none;
    }
}

@keyframes rip {
    0% {
        transform: translateX(0);
        transform-origin: bottom left;
    }

    35% {
        transform: rotate(30deg);
        transform-origin: bottom left;
    }

    100% {
        transform: translateY(80%) translateX(5%) rotate(10deg);
        transform-origin: bottom left;
    }
}